body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-wrapper {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 960px;
    width: 100%;
    margin-top: auto;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-bottom: 1em;
    color: #333;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
    color: #444;
}

h3 {
    font-size: 1em;
    padding-bottom: 1em;
    color: #555;
}

main {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
}

#mainLeft {
    border-right: 1px solid lightgray;
}

.about, .work-experience {
    padding: 1.5em;
}

.about h2, .work-experience h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #333;
}

.about p, .work-experience p {
    line-height: 1.6;
    margin-bottom: 1em;
}

.work-experience h3 {
    font-size: 1.5em;
    color: #555555;
    margin-top: 1em;
}

.work-experience ul {
    list-style-type: disc;
    padding-left: 20px;
}

.work-experience li {
    margin-bottom: 0.5em;
    color: #333333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.25em;
    }

    h3 {
        font-size: 1em;
    }

    #mainLeft {
        border-right: none;
    }

    section {
        margin: 1em 0;
    }

    .about, .work-experience {
        padding: 1em;
    }

    i {
        font-size: 0.9em;
    }
}
